<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>hotel</display-name>
  
   <!-- 字符转码的 -->
  <filter>
  	<filter-name>DemoFilter</filter-name>
  	<filter-class>cn.yisou.hotel.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>oldEncoding</param-name>
  		<param-value>ISO8859-1</param-value>
  	</init-param>
  	<init-param>
  		<param-name>newEncoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
   <filter-mapping>
  	<filter-name>DemoFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  	<dispatcher>INCLUDE</dispatcher>
  	<dispatcher>ERROR</dispatcher>
  </filter-mapping>
  
  <!-- 分页的 -->
  <filter>
  	<filter-name>roomsplit</filter-name>
  	<filter-class>cn.yisou.hotel.web.filter.RoomSplitFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>roomsplit</filter-name>
  	<url-pattern>/house_list.jsp</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <filter>
  	<filter-name>checksplit</filter-name>
  	<filter-class>cn.yisou.hotel.web.filter.CheckSplitFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>checksplit</filter-name>
  	<url-pattern>/check_list.jsp</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
   <filter>
  	<filter-name>checkhistory</filter-name>
  	<filter-class>cn.yisou.hotel.web.filter.CheckHistorySplitFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>checkhistory</filter-name>
  	<url-pattern>/checkhistory_list.jsp</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <filter>
  	<filter-name>page</filter-name>
  	<filter-class>cn.yisou.hotel.web.filter.pageFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>page</filter-name>
  	<url-pattern>/booking.jsp</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>usersplit</filter-name>
  	<filter-class>cn.yisou.hotel.web.filter.UserSplitFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>usersplit</filter-name>
  	<url-pattern>/user_list.jsp</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
   <servlet>
  	<servlet-name>action</servlet-name>
  	<servlet-class>cn.yisou.hotel.web.core.ActionServlet</servlet-class>
  	<init-param>
  		<param-name>configLocation</param-name>
  		<param-value>/WEB-INF/config.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>action</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
</web-app>